{% extends "index.html" %}

{% block title %}
<title>Вход</title>
{% endblock %}


{% block content %}
<style media="screen">
    .errorlist {
        color:red;
        padding: 5px;
    }
</style>

<div class="container">
    <div class="card border-dark mb-3">
        <div class="card-header text-center">
            Вход
        </div>
        <div class="card-body text-dark">
            <p class="card-text ">
                <form action="{% url 'login' %}" method="post">
                <div class="text-center">
                {% if form.errors %}
                <div class="text-danger">
                <p>Ваше имя пользователя и пароль не совпадают. Пожалуйста, попробуйте еще раз.</p>
                </div>
                {% else %}
                <p>Пожалуйста, используйте следующую форму для входа в систему:</p>
                {% endif %}
                </div>
                <hr>
                <div class="login-form">
                    <form action="{% url 'login' %}" method="post">
                        <div class="form-group text-center">
                            {{ form.as_p }}
                            {% csrf_token %}
                            <input type="hidden" name="next" value="{{ next }}" />
                            <p><input class="btn btn-info" type="submit" value="Вход"></p>
                            <a href="{% url 'register' %}" class="btn btn-dark mb-3" title="Регистрироваться">Регистрироваться</a>
                        </div>
                    </form>
                </div>
            </p>
        </div>
    </div>
</div>

{% endblock %}
